*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Epilogue";
}

.hidden {
  display: none;
}

header .nav-bar {
  width: 90%;
  margin: 0rem auto;
  padding: 3em 0;
}
header .open-icon,
header .close-icon {
  cursor: pointer;
  display: none;
}
header .nav-bar,
header nav,
header nav ul {
  display: flex;
}
header nav {
  width: 100%;
  margin-left: 1rem;
}
header nav ul {
  width: 100%;
}
header nav li {
  list-style: none;
  margin-left: 4rem;
  position: relative;
}
header a {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
  font-size: 1.6rem;
  font-weight: 600;
}
header a:hover {
  color: hsl(0deg, 0%, 8%);
}
header .reg-btn {
  border-radius: 15px;
  border: 1px solid hsl(0deg, 0%, 41%);
  padding: 0.8em 1.4em;
}
header .reg-btn:hover {
  border-color: hsl(0deg, 0%, 8%);
}
header .dropdown-links span img {
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;
}
header .dropdown-links span img:hover {
  filter: brightness(0%);
}

.dropdown-menu-wrapper--1 {
  position: absolute;
  top: 3.3rem;
  left: -6rem;
  transition: opacity 0.2s ease-in;
}
.dropdown-menu-wrapper--1 .dropdown-menu--1 {
  border-radius: 10px;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.202);
  display: grid;
  grid-template-columns: auto auto;
  padding: 1em 0.8em;
}
.dropdown-menu-wrapper--1 img {
  margin-left: 5px;
}
.dropdown-menu-wrapper--1 li {
  margin: 0;
  padding: 0.4em 0.2em;
  font-size: 1.3rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 41%);
  cursor: pointer;
}
.dropdown-menu-wrapper--1 li:hover {
  color: hsl(0deg, 0%, 8%);
}

.dropdown-menu-wrapper--2 {
  position: absolute;
  top: 3.5rem;
  left: -1.5rem;
  transition: opacity 0.2s ease-in;
}
.dropdown-menu-wrapper--2 .dropdown-menu--2 {
  border-radius: 10px;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.202);
  display: grid;
  grid-template-columns: 80%;
  padding: 2em 1em;
}
.dropdown-menu-wrapper--2 img {
  margin-left: 5px;
}
.dropdown-menu-wrapper--2 li {
  margin: 0;
  padding: 0.4em 0.2em;
  font-size: 1.3rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 41%);
  cursor: pointer;
  line-height: 2rem;
}
.dropdown-menu-wrapper--2 li:hover {
  color: hsl(0deg, 0%, 8%);
}

main {
  margin-top: 0rem;
  padding: 2rem 5rem;
  padding-bottom: 0;
}
main .main-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
}
main article {
  width: 75%;
  padding: 2em;
  padding-top: 10em;
  align-self: flex-end;
}
main article h1 {
  font-size: 7rem;
}
main article h1 span {
  display: block;
}
main article p {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(0deg, 0%, 41%);
  width: 70%;
  line-height: 2rem;
}
main article a {
  display: inline-block;
  padding: 1em 1.4em;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 4rem;
  border: 1px solid black;
  transition: all 0.2s ease-in;
}
main article a:hover {
  background-color: white;
  color: black;
}
main article .banner-wrapper {
  margin-top: 6rem;
}
main article .banner-wrapper .banners {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
main article .banner-wrapper .banner {
  list-style: none;
}
main .hero-image-wrapper {
  width: 50%;
}
main .hero-image-wrapper .hero-image {
  width: 100%;
}
main .hero-image-wrapper .hero-image-mobile {
  display: none;
}

@media (min-width: 1400px) {
  main {
    margin-top: 4rem;
  }
  main article {
    align-self: start;
    padding: 0;
    padding-top: 6rem;
  }
  main article h1 {
    font-size: 12rem;
    margin-bottom: 5rem;
  }
  main article p {
    font-size: 2.5rem;
    width: 70%;
    margin-bottom: 3rem;
    line-height: 4rem;
    font-weight: 600;
  }
  main article a {
    margin-bottom: 4rem;
    font-size: 2.5rem;
    padding: 2rem 3rem;
  }
  main article .banner-wrapper {
    margin-top: 7rem;
  }
  main article .banner-wrapper .banners {
    width: 80%;
  }
}
@media (max-width: 700px) {
  html,
body {
    overflow-x: hidden;
  }
  header {
    position: relative;
  }
  header .close-icon,
header .open-icon {
    display: block;
    position: absolute;
    right: 2rem;
  }
  header .close-icon {
    z-index: 4;
    width: 0rem;
  }
  header .open-icon {
    width: 3.5rem;
    height: 2rem;
  }
  header .nav-bar {
    justify-content: space-between;
  }
  header nav {
    flex-direction: column;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
    padding: 0 3em;
    opacity: 1;
    transition: all 0.5s ease-out;
    transform: translateX(100%);
  }
  header nav ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-top: 10em;
  }
  header nav ul li {
    margin: 0 0 1rem;
  }
  header nav .login ul {
    padding-top: 1em;
    align-items: center;
  }
  header nav .login ul li {
    margin-bottom: 3rem;
  }
  header nav .login ul .reg-btn {
    padding: 0.8em 4em;
  }
  .background-image {
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    width: 0%;
    height: 100%;
  }
  main {
    overflow: hidden;
  }
  .dropdown-menu-wrapper--1,
.dropdown-menu-wrapper--2 {
    display: none;
    position: relative;
    top: 0;
    left: 0;
  }
  .dropdown-menu-wrapper--1 .dropdown-menu--1,
.dropdown-menu-wrapper--2 .dropdown-menu--1 {
    box-shadow: none;
    margin-right: 3rem;
    padding: 1em;
  }
  .dropdown-menu-wrapper--1 .dropdown-menu--1 li,
.dropdown-menu-wrapper--2 .dropdown-menu--1 li {
    margin-left: 1rem;
  }
  .dropdown-menu-wrapper--1 .dropdown-menu--2,
.dropdown-menu-wrapper--2 .dropdown-menu--2 {
    box-shadow: none;
    padding: 1rem;
    transform: translateX(20px);
  }
  main {
    width: 100%;
    padding: 0;
  }
  main .main-wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 0;
  }
  main .hero-image-wrapper {
    width: 100%;
  }
  main .hero-image-wrapper .hero-image {
    display: none;
  }
  main .hero-image-wrapper .hero-image-mobile {
    max-width: 100%;
    display: block;
  }
  main article {
    width: 90%;
    align-self: center;
    text-align: center;
    padding: 4em 0em;
  }
  main article h1 {
    font-size: 3.5rem;
  }
  main article h1 span {
    display: inline-block;
  }
  main article p {
    margin: 1rem auto;
    width: 90%;
  }
  main article a {
    margin-top: 2rem;
    border-radius: 15px;
  }
  main article .banner-wrapper {
    margin-top: 5rem;
  }
  main article .banner-wrapper .banners {
    width: 100%;
  }
  main article .banner-wrapper .banner {
    width: 100%;
  }
  main article .banner-wrapper .banner img {
    max-width: 100%;
  }
  main article .banner-wrapper .banner + .banner {
    margin-left: 30px;
  }
}/*# sourceMappingURL=main.css.map */